## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['qtde_acertos_matematica'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['qtde_acertos_portugues'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['qtde_acertos_geografia'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['qtde_acertos_ingles'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['qtde_acertos_historia'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['qtde_acertos_fisica'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['qtde_acertos_quimica'])

In [2]:
df_total = pd.concat([df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui], axis=1)

df_total

,qtde_acertos_matematica,qtde_acertos_portugues,qtde_acertos_geografia,qtde_acertos_ingles,qtde_acertos_historia,qtde_acertos_fisica,qtde_acertos_quimica
0,6,7,7,3,1,8,3
1,19,10,0,0,0,11,8
2,14,16,0,5,7,4,4
3,10,7,3,4,0,0,8
4,7,2,2,7,0,9,3
...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3
96,8,1,4,6,1,4,3
97,23,5,0,2,4,1,5
98,0,10,3,1,5,10,11
99,11,15,0,1,6,7,2

In [3]:
# 1) Seu código aqui

pc_mat = df_total['qtde_acertos_matematica'] / 24
pc_mat = df_total['qtde_acertos_portugues'] / 18
pc_mat = df_total['qtde_acertos_geografia'] / 8
pc_mat = df_total['qtde_acertos_ingles'] / 8
pc_mat = df_total['qtde_acertos_historia'] / 8
pc_mat = df_total['qtde_acertos_fisica'] / 12
pc_mat = df_total['qtde_acertos_quimica'] / 12

In [4]:
# 2) Seu código aqui

df_total['qtde_total_acertos'] = df_total.sum(axis=1)
df_total['qtde_total_acertos']

0     35
1     48
2     50
3     32
4     30
      ..
95    34
96    27
97    40
98    40
99    42
Name: qtde_total_acertos, Length: 100, dtype: int64

In [6]:
# 3) Seu código aqui

df_total['percentual_geral'] = df_total['qtde_total_acertos'] / 90
df_total['percentual_geral']

0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
        ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667
Name: percentual_geral, Length: 100, dtype: float64

In [10]:
# 4) Seu código aqui

(df_total['qtde_total_acertos'] > 45).shape

(100,)

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [11]:
df_total

,qtde_acertos_matematica,qtde_acertos_portugues,qtde_acertos_geografia,qtde_acertos_ingles,qtde_acertos_historia,qtde_acertos_fisica,qtde_acertos_quimica,qtde_total_acertos,percentual_geral
0,6,7,7,3,1,8,3,35,0.388889
1,19,10,0,0,0,11,8,48,0.533333
2,14,16,0,5,7,4,4,50,0.555556
3,10,7,3,4,0,0,8,32,0.355556
4,7,2,2,7,0,9,3,30,0.333333
...,...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,34,0.377778
96,8,1,4,6,1,4,3,27,0.300000
97,23,5,0,2,4,1,5,40,0.444444
98,0,10,3,1,5,10,11,40,0.444444
99,11,15,0,1,6,7,2,42,0.466667

In [12]:
#1 - monta o dataframe dos desqualificados

df_desqualificados = df_total[ (df_total['qtde_acertos_matematica']==0) | (df_total['qtde_acertos_fisica']==0) | (df_total['qtde_acertos_quimica']==0) ]
df_desqualificados

,qtde_acertos_matematica,qtde_acertos_portugues,qtde_acertos_geografia,qtde_acertos_ingles,qtde_acertos_historia,qtde_acertos_fisica,qtde_acertos_quimica,qtde_total_acertos,percentual_geral
3,10,7,3,4,0,0,8,32,0.355556
6,6,0,7,7,5,0,4,29,0.322222
10,10,8,3,2,1,7,0,31,0.344444
12,20,8,3,7,1,0,3,42,0.466667
14,7,11,1,7,1,4,0,31,0.344444
20,23,11,6,5,6,2,0,53,0.588889
25,0,4,7,4,0,4,8,27,0.300000
26,11,14,6,2,7,0,0,40,0.444444
27,21,13,1,5,7,3,0,50,0.555556
33,14,8,0,5,6,6,0,39,0.433333
35,11,14,6,3,3,0,11,48,0.533333
49,8,1,1,0,1,0,8,19,0.211111
56,7,6,7,5,6,0,8,39,0.433333
65,1,8,2,4,3,0,6,24,0.266667
66,5,4,3,6,3,0,10,31,0.344444
72,11,16,3,4,7,0,9,50,0.555556
73,1,16,2,4,3,0,11,37,0.411111
74,9,11,0,7,5,7,0,39,0.433333
84,15,1,0,5,1,0,4,26,0.288889
89,23,11,7,7,6,9,0,63,0.700000
92,14,10,1,6,1,8,0,40,0.444444
94,0,5,2,6,1,3,8,25,0.277778
98,0,10,3,1,5,10,11,40,0.444444

In [13]:
#2 - quantidade de alunos nesse dataframe

tot_desqualificados = df_desqualificados.shape[0]

tot_desqualificados

23

In [14]:
#3 - média desses alunos em história e geografia

df_desqualificados = df_desqualificados.copy()

df_desqualificados['media_historia'] = df_desqualificados['qtde_acertos_historia'] / 8
df_desqualificados['media_geografia'] = df_desqualificados['qtde_acertos_geografia'] / 8

df_desqualificados[ ['media_historia', 'media_geografia'] ]

    media_historia  media_geografia
3            0.000            0.375
6            0.625            0.875
10           0.125            0.375
12           0.125            0.375
14           0.125            0.125
20           0.750            0.750
25           0.000            0.875
26           0.875            0.750
27           0.875            0.125
33           0.750            0.000
35           0.375            0.750
49           0.125            0.125
56           0.750            0.875
65           0.375            0.250
66           0.375            0.375
72           0.875            0.375
73           0.375            0.250
74           0.625            0.000
84           0.125            0.000
89           0.750            0.875
92           0.125            0.125
94           0.125            0.250
98           0.625            0.375

In [15]:
# Data Frame com alunos que passaram pra prox fase

df_aprovados_segunda_fase = df_total.copy()

df_aprovados_segunda_fase = df_aprovados_segunda_fase.drop(axis=0, labels=df_desqualificados.index)

df_aprovados_segunda_fase

,qtde_acertos_matematica,qtde_acertos_portugues,qtde_acertos_geografia,qtde_acertos_ingles,qtde_acertos_historia,qtde_acertos_fisica,qtde_acertos_quimica,qtde_total_acertos,percentual_geral
0,6,7,7,3,1,8,3,35,0.388889
1,19,10,0,0,0,11,8,48,0.533333
2,14,16,0,5,7,4,4,50,0.555556
4,7,2,2,7,0,9,3,30,0.333333
5,20,2,5,3,2,9,9,50,0.555556
...,...,...,...,...,...,...,...,...,...
93,12,16,5,5,6,6,6,56,0.622222
95,6,4,7,1,4,9,3,34,0.377778
96,8,1,4,6,1,4,3,27,0.300000
97,23,5,0,2,4,1,5,40,0.444444
99,11,15,0,1,6,7,2,42,0.466667

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [ ]:
arquivo = 'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv'

In [16]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-89e40170-bf21-4425-a690-f9dcd8e9a30a.c000.csv'

In [17]:
# 1) Sua solução aqui
df = pd.read_csv(arquivo, sep=';', low_memory=False)

In [18]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,036f5759-bb50-4932-b831-3ff9843ee4ac-i0b0,2c46fcc0624290d7c29fd603eb6d3623fd5999cb760002...,36,1985-07-08,F,4,AMARELA,120040,10,RIO BRANCO,...,2.0,Faixa Etária,FF8848,PFIZER,Organization/00394544000851,2021-10-26,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
1,6ab26092-0567-442f-b02e-e0d8a5fe6210-i0b0,7a74f84c95cea8ac4f0f36640a0954de18c74b21811e67...,24,1997-01-22,M,99,SEM INFORMACAO,NaN,221,RIO BRANCO-AC,...,2.0,Faixa Etária,FF8842,PFIZER,Organization/00394544000851,2021-10-01,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
2,207d4495-d370-4e76-8872-42942c128b89-i0b0,dd4f0be76db1a02813b1df41d4c7432039a532d97aab81...,40,1981-09-17,M,3,PARDA,120040,10,RIO BRANCO,...,2.0,Faixa Etária,FM3809,PFIZER,Organization/28290,2022-01-13,Reforço,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
3,6adc6446-7241-4eea-9da8-150c6b59b331-i0b0,bd62eb8217ccea0033f1b48eedb1def4a3ee8aef5aa0eb...,11,2010-12-30,F,3,PARDA,120040,10,RIO BRANCO,...,NaN,NaN,FW4423,PFIZER - PEDIÁTRICA,28290,2022-11-29,1ª Dose,99,COVID-19 PFIZER - COMIRNATY PEDIÁTRICA,Novo PNI
4,1dc582d7-0b9a-4729-b223-02a271a0349d-i0b0,c8aa53a71bd773d0dd4f5a46dc2fbd9f62c452930a6038...,13,2007-12-24,M,3,PARDA,120020,10,CRUZEIRO DO SUL,...,2.0,Faixa Etária,31130BA,PFIZER,Organization/00394544000851,2021-10-31,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

In [19]:
#1 - quantas vacinas estão registradas:

total_vacinas, _ = df.shape
total_vacinas

344235

In [25]:
# 2) Quantos pacientes foram vacinados

qtde_vacinados = df['paciente_id'].unique().shape[0]

qtde_vacinados

289063

In [26]:
# 3) 
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

116608

In [27]:
# 3) solução alternativa
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

116608

In [28]:
# 4) 
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

54130

In [30]:
# 5)
df['estabelecimento_razaoSocial'].nunique()

51

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [31]:
# 1) 
df_menor = df[df["paciente_idade"]<18].copy()

In [32]:
# 2) 
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [33]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

Faixa Etária                                      33616
Outros                                             3703
Povos Indígenas                                    1805
Povos e Comunidades Tradicionais                    431
Trabalhadores de Saúde                              238
População Privada de Liberdade                       49
Comorbidades                                         33
Gestantes                                            22
Pessoas com Deficiência                               3
Pessoas Institucionalizadas                           3
Pessoas de 60 anos ou mais institucionalizadas        1
Trabalhadores da Educação                             1
Name: vacina_categoria_nome, dtype: int64

In [36]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [37]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(114, 6)